@font-face{
    font-family:"bostvina" ;
    src: url(../assets/fonts/Bostvina.ttf );
}

#nav{
    font-family: "bostvina";
}

#dropdown{
    font-family: "bostvina";
}

.mt-50{
    margin-top: 8%;
}
footer {
    color: #ffffff;
    width: 100%;
    background-color:#f3969a;
}

footer .credit-container {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.d-flex-
